@model List<TasteFoodIt.Entities.Reservation>
@{
    ViewBag.Title = "ReservationList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Rezervasyon Listesi</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/Default/Index/">Ana Sayfa</a>
            </li>
            <li class="breadcrumb-item">Rezervasyonlar</li>
            <li class="breadcrumb-item active" aria-current="page">Rezervasyon İşlemleri</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Simple Tables -->
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>Id</th>
                                <th>İsim</th>
                                <th>Email</th>
                                <th>Telefon</th>
                                <th>Tarih</th>
                                <th>Saat</th>
                                <th>Kişi Sayısı</th>
                                <th>Durum</th>
                                <th>Durum Seç</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                string deger = "";
                                string gorunum = "";
                                <tr>
                                    @*<td>@item.CategoryId</td>*@
                                    <td>@count</td>
                                    <td>@item.Name</td>
                                    <td>@item.Email</td>
                                    <td>@item.Phone</td>
                                    @*<td>@item.ReservationDate</td>*@
                                    <td>@(((DateTime)item.ReservationDate).ToString("d"))</td>
                                    <td>@item.Time</td>

                                    <td>@item.GuestCount</td>


                                    @if (item.ReservationStatus == "Onaylandı")
                                    {
                                        deger = "Onaylandı";
                                        gorunum = "bg-success";
                                    }
                                    else if (item.ReservationStatus == "İptal Edildi")
                                    {
                                        deger = "İptal Edildi";
                                        gorunum = "bg-danger";
                                    }
                                    else if (item.ReservationStatus == "Beklemede")
                                    {
                                        deger = "Beklemede";
                                        gorunum = "bg-warning";
                                    }
                                    else
                                    {
                                        deger = "";
                                    }
                                    <td>
                                        <span class="badge @gorunum" style="color:azure  ; font-size:15px">@deger</span>
                                    </td>

                                    <td>
                                        <a href="/Reservation/RezervationStatusBeklet/@item.ReservationId" class="btn btn-outline-warning">Beklet</a>
                                        <a href="/Reservation/RezervationStatusOnayla/@item.ReservationId" class="btn btn-outline-success">Onayla</a>
                                        <a href="/Reservation/RezervationStatusIptalEt/@item.ReservationId" class="btn btn-outline-danger">İptal Et</a>
                                    </td>
                                    <td>
                                        <a href="/Reservation/DeleteReservation/@item.ReservationId" class="btn btn-danger">Sil</a>
                                    </td>
                                    <td>
                                        <a href="/Reservation/UpdateReservation/@item.ReservationId" class="btn btn-success">Güncelle</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
    <!--Row-->
</div>

